*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
    color: white;
}



/* Rohit */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
li{
    text-align: right;
    float: right;
    padding: 10px 20px ;
}
.all-read{
    margin: 0;
    padding: 0;
    color: white;
}






